<div id="highlight" style="width:100%;min-height:43vh;height:auto;background: #e74c3c;float:left;margin-bottom:5px;text-align:center;">

	<div id="featured-posts" style="width:50%;height:43vh;float:left;display:inline-block;">
	
		<div id="featured-image" style="width:50%;float:left;min-height:100%;height:43vh; padding:15px;background: #c0392b;"> 
			<%= image_tag("/system/buttons/pikachuwelcome.png", style: "width:90%; height:105%;margin-top:-5px;") %>
		</div>
		
		<div id="featured-posts-title" style="font-size:2em;width:50%;float:left;display:inline-block;">Popular Articles:</div>
		
		<div id="featured-posts-list back" style="width:50%;float:left;font-size:1.5em;"> 
		<i class="fi-upload-cloud large" style="color:#f1c40f;padding:2px;"></i><%= link_to "First steps in Pokemon Go", {controller: "posts", action: "show", s: "Podstawy gry w Pokemon Go"}, style: "color: #34495e;" %></br></br>
		<i class="fi-mountains large" style="color:#f1c40f;padding:2px;"></i><%= link_to "First steps in Pokemon Go", {controller: "posts", action: "show", s: "Podstawy gry w Pokemon Go"}, style: "color: #34495e;"%></br></br>
		<i class="fi-lightbulb large" style="color:#f1c40f;padding:2px;"></i><%= link_to "How to fight? Moveset, upgrades and evolving!", {controller: "posts", action: "show", s: "Podstawy gry w Pokemon Go"}, style: "color: #34495e;"%></br></br>
		<i class="fi-wrench large" style="color:#f1c40f;padding:2px;"></i><%= link_to "First steps in Pokemon Go", {controller: "posts", action: "show", s: "Podstawy gry w Pokemon Go"}, style: "color: #34495e;" %></br></br>
		<i class="fi-star large" style="color:#f1c40f;padding:2px;"></i><%= link_to "First steps in Pokemon Go", {controller: "posts", action: "show", s: "Podstawy gry w Pokemon Go"}, style: "color: #34495e;" %></br></br>
		</div>
		
	</div>

	<div id="social-container" style="height:43vh;width:50%;float:left;display:inline-block;">
		<div id="twitter-container" class="show-for-medium-up"style="width:50%;float:left;height:43vh;background: #c0392b;">
			<div id="twitter-header" style="font-size:2em;">Find us on Twitter:</div>
			<div id="twitter-page">
				<a class="twitter-timeline" data-height="310" data-theme="light" href="https://twitter.com/gopokemon24">Tweets by gopokemon24</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		
		<div id="facebook-container" style="width:50%;float:left;display:inline-block;">
			<div id="fb-header" style="font-size:2em;">Find us on Facebook:</div>
			<div id="fb-page">
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgopokemon24&tabs=timeline&width=340&height=310&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="310" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
		</div>
		</div>
</div>
