<table>
<tr>
	<td>ID Wydarzenia</td>
	<td>Tytul</td>
	<td>Data</td>
	<td>Opis</td>
	<td>Dodano przez:</td>
</tr>
<tr>
	<td><%= @event.id %></td>
	<td><%= @event.tytul %></td>
	<td><%= @event.event_date %><%= @event.godzina %></td>
	<td><%= @event.opis %></td>
	<td><%= @harcerz.imie %> <%= @harcerz.nazwisko %></td>
</tr>
</table>
	