<% @cover.each do |f| %>
	<%= link_to galeria: f.nazwa, id: 0, :controller => :photos, :action => :showgallery do %><div id="<%= f.id %>"  class="back" style="background-image:url(<%= f.cover.url(:medium) %>);width:33%; height:50%;float: left;border:2px solid black;">
		<div id="b<%= f.id %>" class="shadow"><p class="title"><%= f.nazwa %></div>
	</div>
	<% end %>
<% end %>


<style>
main {
margin: 0px;
padding:0px;
padding-left:18px;
background-color: #d5e5e6;
}
p.title {
color: white;
text-shadow: 4px 3px 2px black;
text-align: left;
font-size: 36px;
}
div.shadow {
padding-top: 1%;
padding-left: 1%;
background: rgba(0, 0, 0, 0.6);
width:100%;
height:100%;
}
</style>
<script type="text/javascript">

$('div.back').mouseover(function() {
		$id = $(this).attr("id");
		});
        $('div.back').hover(function(e) {
		  $('div#b'+$id).fadeOut(300);
		  }, function() {
          $('div#b'+$id).fadeIn(300);
        });
</script>